

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: initial;
}

body {
    background: linear-gradient(90deg, #131842, #e68369 50%, #131842);
}

.body__hide {
    overflow: hidden;
    padding-right: 15px;
}

